html {
  font-family: "Slabo 27px", serif;
  font-family: 'Cabin', sans-serif;
  /* font-family: 'Cabin Sketch', cursive; */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}

#sidebar {
  width: 25%;
  height: 100%;
  padding: 40px 10px;
  display: flex;
  justify-content: center;
  background: url("../images/background-p.jpg") no-repeat fixed;
}

header {
  margin-bottom: 2.5rem;
}

header>div {
  text-align: center;
}

h1,
h2,
li {
  font-weight: 400;
  color: white;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
  transition: all 0.5s ease-out 0.5s;
}

h2 {
  font-size: 1.5rem;
  transition: all 0.5s cubic-bezier(0, 0.1, 0.8, 0.1) 1.5s;
}

.transparent {
  display: none;
}

ul {
  list-style-type: none;
}

li {
  font-size: 1.15rem;
  margin-bottom: 1rem;
}

li:hover {
  color: rgb(205, 160, 92);
  border-bottom: 0.3rem solid rgb(205, 160, 92);
  margin-bottom: 0.7rem;
  cursor: pointer;
}

main {
  height: 100%;
  width: 75%;
  padding: 40px 50px;
  /* background: rgba(59,90,99,1) */
}

.p-container {
  display: flex;
  justify-content: space-between;
}

.p-item {
  border-radius: 2px;
  width: 32%;
  padding: 1rem;
  color: rgba(59,90,99,1)
}




/************************* media queries **************************/
@media screen and (min-width: 901px) and (max-width: 1100px) {
  h1 {
    font-size: 1.5rem;
  }
  h2, li {
    font-size: 1.15rem;
  }
}

@media screen and (min-height: 1330px) {
  #sidebar {
    background-size: cover;
  }
}

@media screen and (max-height: 1000px) {
  #sidebar {
    background-size: 79%;
  }
}

@media screen and (max-height: 768px) {
  #sidebar {
    background-size: 61%;
  }
}

@media screen and (max-height: 600px) {
  #sidebar {
    background-size: 44%;
  }
}

/*portrait*/
@media screen and (max-width: 900px) {
  #page-container {
    flex-direction: column;
  }

  #sidebar {
    background: url("../images/background-b.jpg") no-repeat fixed;
    background-origin: border-box;
    background-size: 100%;
    width: 100%;
    border-right: none;
    display: block;
    padding: 20px 20px;
  }

  main {
    width: 100%;
  }

  header {
    margin: 0;
  }

  ul {
    display: flex;
  }

  li {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }

  li:hover {
    margin-bottom: -0.3rem;
  }
}

/* large tablet portrait */
@media screen and (min-width: 445px) and (max-width: 900px) and (min-height: 768px) {
  #sidebar {
    height: 100px;
  }

  #sidebar > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  h1,
  h2 {
    transition: none;
  }
}

/* small tablet portrait and mobiles */
@media screen and (max-width: 444px),
  screen and (max-height: 768px) and (max-width: 901px) {
  #sidebar {
    height: 100px;
    padding: 0;
    border-bottom: 0px;
  }

  #sidebar > div {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  header {
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
  }

  header>div {
    text-align: start;
  }

  nav {
    padding: 5px 20px;
    background: black;
    color: white;
  }

  h1,
  h2 {
    display: inline-block;
  }

  .transparent {
    display: inline;
  }
}

@media screen and (max-width: 450px) and (max-height: 1000px) {
  h1 {
    font-size: 1.5rem;
  }
  h2,
  li {
    font-size: 1rem;
  }
}

/************************* transition classes **************************/
.hide-title {
  transform: translateX(-26vw);
}

.hide-subtitle {
  opacity: 0;
}
