main {
  height: 100%;
  width: 75%;
  padding: 40px 50px;
  /* background: rgba(59,90,99,1) */
}






/************************* media queries **************************/


/************************* transition classes **************************/
.hide-title {
  transform: translateX(-26vw);
}

.hide-subtitle {
  opacity: 0;
}
