#portfolio {
  height: 100%;
  padding: 1rem;
}

.section-vertical-centerer {
  height: 90%;
  display: flex;
  padding-top: 2rem;
}

.view-centerer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.view-sizer {
  width: 100%;
  max-height: 200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  border-left: 0.5px solid #685C61;
}

.nav-projects {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-link {
  font-size: 1rem;
  padding: 0.5rem 0;
  font-weight: 700;
  cursor: pointer;
}

.projects-preview {
  background: pink;
  width: 85%;
  overflow: hidden;
}
