#portfolio {
  /* display: flex; */
  /* height: 100%;
  align-items: center;
  justify-content: space-around; */
  padding: 2rem 1rem;
}

.projects-container {
  display: flex;
  justify-content: space-between;
  width: 95%;
}

.section-title {
  height: 6rem;
  width: 100%;
  border-top: 0.5px solid;
  border-bottom: 0.5px solid;
}