#page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  background: #DCE0DC;
}

/************************* media queries **************************/

@media screen and (max-width: 900px) {
  #page-container {
    flex-direction: column;
  }
}

main {
  width: 75%;
  position: relative;
}
