#page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: url('../../static/images/tile-01.png') #DCE0DC;
}

#centered-content {
  padding: 0 1rem;
  width: 920px;
  display: flex;
  flex-direction: column;
  background: #DCE0DC;
}

main {
  height: 100%;
}
/************************* media queries **************************/

@media screen and (max-height: 363px) {
  #page-container {
    height: 100%;
  }
}
