#menubar {
  padding: 1rem 0;
}

#menubar div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.25rem;
  border-bottom: 0.5px solid;
}

.nav-categories {
  display: flex;
  transform: translateY(-4.5px);
}

.nav-categories li {
  font-weight: 700;
  margin-left: 1rem;
}

.nav-categories li:first-child {
  margin-left:0;
}

.nav-categories li:hover {
  color: #F79952;
  font-weight: 700;
  /* border-bottom: 0.3rem solid rgb(205, 160, 92);
  margin-bottom: 0.7rem; */
  cursor: pointer;
}

.transparent {
  display: none;
}

#menubar a:visited {
  color: black;
}

/************************* media queries **************************/

@media screen and (max-width: 480px) {

  #menubar {
    padding-bottom: 0;
  }

  #menubar div {
    border: 0px;
    flex-direction: column;
    align-items: stretch;
  }

  #menubar div>header {
    padding-bottom: 0.75rem;
  }
  
  .nav-categories {
    background: #685C61;
    padding: 0.2rem 0.5rem;
  }

  .nav-categories li {
    color: #DCE0DC;
  }
}